.slideshow1-container {
    max-width: 400px;
    position: absolute;
    top: 125px;
    left: 0px;
    margin: 20px;
    border: 15px solid #2E435E;
}

.mySlides1 {
    display: none;
}

img {
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    top: 485px;
    left: 50px;
}

.active {
    background-color: #717171;
}

#text1 {
    font-family: serif;
    font-size: 12px;
    position: absolute;
    top: 465px;
    left: 80px;
    max-width: 270px;
}

.slideshow2-container {
    max-width: 400px;
    position: absolute;
    top: 490px;
    left: 0px;
    margin: 20px;
    border: 15px solid #2E435E;
}

.mySlides2 {
    display: none;
}

.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}

.prev2 {
    left: 0;
}

.next2 {
    right: 0;
}

.prev2:hover, .next2:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot2 {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: absolute;
    top: 850px;
    left: 50px;
}

.active2 {
    background-color: #717171;
}

#text2 {
    font-family: serif;
    font-size: 12px;
    position: absolute;
    top: 835px;
    left: 80px;
    max-width: 270px;
}

body {
 background-color: #3B567A;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-family: fantasy;
    background-color: #7B6792;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    text-decoration: underline;
}

#content1 {
    background-color: #9F91B8;
    position: absolute;
    top: 150px;
    left: 475px;
    height: 525px;
    width: 625px;
}

#content1 p {
    max-width: 600px;
    font-family: serif;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

h2 {
    text-decoration: underline;
    font-family: serif;
    font-size: 24px;
    text-align: center;
}

#content2 {
    background-color: #7B6792;
    position: absolute;
    top: 600px;
    left: 575px;
    height: 330px;
    width: 600px;
}

#content2 p {
    max-width: 575px;
    font-family: serif;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

/* Credit: https://www.w3schools.com/howto/howto_js_dropdown_sidenav.asp (my design, repeats on pages 2-4) */
.sidenav {
  height: 75%;
  width: 225px;
  position: absolute;
  z-index: 1;
  top: 150px;
  right: 0px;
  background-color: #B16E86;
  overflow-x: hidden;
}

.sidenav p {
    text-align: center;
    padding: 5px;
    font-family: serif;
    font-size: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 16px 6px 6px 16px;
  margin-top: 10px;
  margin-left: 8px;
  text-decoration: underline;
  font-size: 24px;
  color: black;
  display: block;
  width:90%;
  text-align: left;
  cursor: pointer;
  background-color: #976476;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 225px;
  font-size: 20px;
}

.active3 {
  background-color: #2E435E;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #976476;
}

.dropdown-container.show {
  display: block;
}

.menu-down {
  float: right;
  padding-right: 8px;
}
/* End Credit */

#footerleft {
    background-color: #9D8AB5;
    height: 50px;
    width: 50%;
    font-family: serif;
    font-size: 12px;
    text-align: left;
    font-style: italic;
    position: absolute;
    top: 950px;
    left: 0px;
}

#footerleft p {
    position: relative;
    top: 10px;
    left: 5px;
}

#footerright {
    background-color: #9D8AB5;
    height: 50px;
    width: 50%;
    font-family: serif;
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 950px;
    right: 0px;
}

#footerright p {
    position: relative;
    top: 0px;
    right: 5px;
}
